.navlist {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  padding: 40px;
  margin-top: 20px;
  font-weight: bolder;
  font-size: 16px;
}

.navlist .navRight {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}

.navlist .navRight .navRightItem{
    cursor: pointer;
}

.registerBtn{
    background-color: red;
    padding: 8px;
    border-radius: 10px;
    text-align: center;
}
